[Unit]
Description=blockchain monitor
After=network.target
Documentation=https://github.com/dwellir-public/blockchain-monitor

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/ubuntu/monitor-blockchains.py
WorkingDirectory=/home/ubuntu
Restart=always
RestartSec=120
StandardInput=null
StandardOutput=null

[Install]
WantedBy=multi-user.target
